p
  | Hello world!
p
  | <a href="
  = url('/special/')
  | ">A special page.


P
  == @hello_redis

i.fa.fa-home ホームアイコン
i.fa.fa-check チェックアイコン
i.fa.fa-download ダウンロードアイコン
i.fa.fa-warning 注意アイコン
i.fa.fa-shopping-cart カートアイコン