
<p>Hello world!</p>

<p><a href="<%= url('/special/') %>">A special page.</a></p>

<p></p><%= @hello_redis %></p>

<i class="fa fa-home"></i> ホームアイコン
<i class="fa fa-check"></i> チェックアイコン
<i class="fa fa-download"></i> ダウンロードアイコン
<i class="fa fa-warning"></i> 注意アイコン
<i class="fa fa-shopping-cart"></i> カートアイコン