<h1>「コードからの呼び出し」と「コードレスな動作」</h1>

<div class="modal" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">モーダルダイアログの例</div>
        </div>
    </div>
</div>

<button class="btn btn-primary" onclick="$('#modal').modal('show');">表示</button>
<button class="btn btn-primary" data-toggle="modal" data-target="#modal">表示(コードレス)</button>

<h1>イベントの抑制</h1>
<input type="checkbox" value="1" id="chkbtn"><label for="chkbtn">チェック</label>
<button class="btn btn-primary" data-toggle="modal" data-target="#modal">表示</button>

</div>

<h1>Alertコンポーネント</h1>

<div class="alert alert-danger alert-dismissable" id='myalert'>
    <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p>本文本文。</p>
    <a href="#" class="alert-link">リンク</a>の例。
</div>

<h1>モーダルダイアログボックスの基本</h1>
<div class="modal fade" role="dialog" area-hidden="true" id="mymodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- ヘッダー -->
            <div class="modal-header">
                <!-- [x]ボタン -->
                <button class="close" data-dismiss="modal" aria-hidden="true">
                    &times;</button>
                <h4 class="modal-title">タイトル</h4>
            </div>
            <!-- 本文 -->
            <div class="modal-body">
                <p>本文本文。</p>
            </div>
            <!-- フッター -->
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-primary" data-toggle="modal" data-target="#mymodal">
    ダイアログを開く
</button>

<h1>ツールチップの基本</h1>
<button class="btn btn-default"
        data-toggle="tooltip"
        data-placement="right"
        id="mybutton"
        title="このアプリケーションを終了します">
    終了
</button>
<h1>ポップオーバー</h1>
<button class="btn btn-default"
        data-toggle="popover"
        data-placement="right"
        title="終了ボタン"
        data-content="このボタンをクリックすると終了します"
        >
    終了    
</button>

<h1>ドロップダウンリストの基本</h1>
<div class="dropdown" id="mydropdown">
    <button class="btn btn-primary dropdown-toggle" type="button"
            data-toggle="dropdown" data-target="#mydropdown" id="mylabel">
        ドロップダウンの例
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="mylabel">
        <li role="presentation" class="dropdown-header">ヘッダータイトル１</li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="example01.html">外部リンク１</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#inlink01.html">内部リンク１</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#inlink02.html">内部リンク２</a>
        </li>
        <li role="presentation" class="divider"></li>
        <li role="presentation" class="dropdown-header">ヘッダータイトル２</li>
        <li role="presentation" class="disabled">
            <a role="menuitem" tabindex="-1" href="exampleA.href">項目A</a>
        </li>
    </ul>
</div>

<div class="dropdown" id="mydropdown2">
    <button class="btn btn-primary dropdown-toggle" type="button"
            data-toggle="dropdown" data-target="#mydropdown2" id="mylabel">
        ドロップダウン<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menue"
        aria-labelledby="mylabel" id="menulist2"></ul>
</div>
<h1>トグルボタンの基本</h1>
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default">
        <input type="checkbox" id="toggle1" name="toggle1">トグルボタン1
    </label>
    <label class="btn btn-default">
        <input type="checkbox" id="toggle2" name="toggle2">トグルボタン2
    </label>
    <label class="btn btn-default">
        <input type="checkbox" id="toggle3" name="toggle3">トグルボタン3
    </label>
</div>

<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default">
        <input type="radio" id="toggle1" name="toggle1">トグルボタン1
    </label>
    <label class="btn btn-default">
        <input type="radio" id="toggle2" name="toggle2">トグルボタン2
    </label>
    <label class="btn btn-default">
        <input type="radio" id="toggle3" name="toggle3">トグルボタン3
    </label>
</div>

<button type="button" id="mybutton2" class="btn btn-default"
        data-loading-text="処理中">クリックしてください</button>

<h1>ナビゲーションバーの基本</h1>
<ul class="nav nav-tabs" id="mytab">
    <li class="active">
        <a href="#tab1" data-toggle="tab">タブ1</a>
    </li>
    <li><a href="#tab2" data-toggle="tab">タブ2</a></li>
    <li><a href="#tab3" data-toggle="tab">タブ3</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active fade in" id="tab1">タブコンテンツ1</div>
    <div class="tab-pane fade" id="tab2">タブコンテンツ2</div>
    <div class="tab-pane fade" id="tab3">タブコンテンツ3</div>
</div>

<h1>Collapseコントロールの基本</h1>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#closepanel">
                見出し
            </a>
        </h4>
    </div>
    <div id="closepanel" class="panel-collapse collapse in">
        <div class="panel-body">
            <p>本文<br>本文<br>本文</p>
        </div>
    </div>
</div>

<h1>ScrollSpyコントロールの基本</h1>
<div id="navbar2">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#content1">見出し1</a></li>
        <li><a href="#content2">見出し2</a></li>
        <li><a href="#content3">見出し3</a></li>
    </ul>
</div>

<div data-spy="scroll" data-target="#navbar"
     style="overfllow-y:scroll; height:300px;">
    <h2 id="content1">見出し1</h2>
    テキストコンテンツ<br>
    テキストコンテンツ<br>
    テキストコンテンツ<br>
    テキストコンテンツ<br>
    テキストコンテンツ<br>
    <h2 id="content2">見出し2</h2>
    テキストコンテンツ<br>
    テキストコンテンツ<br>
    テキストコンテンツ<br>
    テキストコンテンツ<br>
    テキストコンテンツ<br>
    <h2 id="content3">見出し3</h2>
    テキストコンテンツ<br>
    テキストコンテンツ<br>
    テキストコンテンツ<br>
    テキストコンテンツ<br>
    テキストコンテンツ<br>
</div>
