<h1>「コードからの呼び出し」と「コードレスな動作」</h1>

<div class="modal" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">モーダルダイアログの例</div>
        </div>
    </div>
</div>

<button class="btn btn-primary" onclick="$('#modal').modal('show');">表示</button>
<button class="btn btn-primary" data-toggle="modal" data-target="#modal">表示(コードレス)</button>

<h1>イベントの抑制</h1>
<input type="checkbox" value="1" id="chkbtn"><label for="chkbtn">チェック</label>
<button class="btn btn-primary" data-toggle="modal" data-target="#modal">表示</button>

</div>

<h1>Alertコンポーネント</h1>

<div class="alert alert-danger alert-dismissable" id='myalert'>
    <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p>本文本文。</p>
    <a href="#" class="alert-link">リンク</a>の例。
</div>

<h1>モーダルダイアログボックスの基本</h1>
<div class="modal fade" role="dialog" area-hidden="true" id="mymodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- ヘッダー -->
            <div class="modal-header">
                <!-- [x]ボタン -->
                <button class="close" data-dismiss="modal" aria-hidden="true">
                    &times;</button>
                <h4 class="modal-title">タイトル</h4>
            </div>
            <!-- 本文 -->
            <div class="modal-body">
                <p>本文本文。</p>
            </div>
            <!-- フッター -->
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-primary" data-toggle="modal" data-target="#mymodal">
    ダイアログを開く
</button>

